<h1>Pirates</h1>
<div class="pirate">
  <h3>Name: <%= @pirate.values[0] %></h3><br>
  <h4>Weight: <%= @pirate.values[1] %> pounds</h4><br>
  <h4>Height: <%= @pirate.values[2] %> inches</h4>
</div><br><br>


<h2>ships</h2>
<% @ships.each do |ship| %>
<div class="ship">
  <p>Name: <%= ship.name %></p><br>
  <p>Type: <%= ship.type %></p><br>
  <p>Booty: <%= ship.booty %></p>
</div><br>
<% end %>



<!-- <h2>Display your second ship here</h2> -->
